h1 {
    font-family: 'Cute Font', cursive;
    text-align: center;
    font-size: 50px;
}


.all-colors {
    display: flex;
    justify-content: center;
}


#colorRed {
    display:inline;
    width:100px;
    height:100px;
    border-radius:50px;
    font-size:20px;
    line-height:100px;
    background:red;
}
#colorRed:hover{
    background:rgb(204, 67, 67)
    }
   

#colorBlue {
    display:inline;
    width:100px;
    height:100px;
    border-radius:50px;
    font-size:20px;
    line-height:100px;
    background:blue
}
#colorBlue:hover{
    background:rgb(3, 65, 180)
    }
   
#colorGreen {
    width:100px;
    height:100px;
    border-radius:50px;
    font-size:20px;
    line-height:100px;
    background:green
}
#colorGreen:hover {
    background: rgb(10, 82, 10)
}
#colorYellow {
    width:100px;
    height:100px;
    border-radius:50px;
    font-size:20px;
    line-height:100px;
    background:yellow
}
#colorYellow:hover {
    background: rgb(102, 102, 9)
}

#start-button {
    align-content: center;
    align-items: center;
    text-align: center;
}